.dashboard_item {
    width: 100%;
    padding-top: 2.15rem;
    background-color: white;
    border-radius: $radii;
    background-repeat: no-repeat;
    background-position: 92% -8%;

    .tracking-card {
        background-color: $blue-800;
        border-radius: $radii;
        padding: 1.25rem;
        position: relative;
        bottom: -2px;

        .tracking-card_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            .tracking-card_title {
                margin: 0;
                font-weight: $weight-normal;
                font-size: $fs-base;
            }

            .tracking-card_menu {
                cursor: pointer;
            }
        }

        .tracking-card_body {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .tracking-card_time {
                font-size: 32px;
                font-weight: $weight-light;
            }

            .tracking-card_prev-period {
                font-weight: $weight-light;
                font-size: 13px;
                color: $blue-200;
            }
        }

        &:hover {
            background-color: $blue-500;
        }
    }

    &.work {
        background-color: $red-100;
        background-image: url(/src/img/icon-work.svg);
    }

    &.play {
        background-color: $blue-100;
        background-image: url(/src/img/icon-play.svg);
    }

    &.study {
        background-color: $red-200;
        background-image: url(/src/img/icon-study.svg);
    }

    &.exercise {
        background-color: $green-100;
        background-image: url(/src/img/icon-exercise.svg);
    }

    &.social {
        background-color: $violet-500;
        background-image: url(/src/img/icon-social.svg);
    }

    &.self-care {
        background-color: $orange-100;
        background-image: url(/src/img/icon-self-care.svg);
    }

    @media (min-width: 1024px) {
        .tracking-card_header {
            margin-bottom: 0.75rem;
        }

        .tracking-card_body {
            flex-direction: column;
            align-items: flex-start;

            .tracking-card_time {
                margin-bottom: 0.75rem;
                font-size: 48px;
            }
        }
    }
}